<div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-lg 1" ></div>
        <div class="col-lg 11" >
            <ul>
                <li>
                    <h1>Trabajo 1</h1>-<h3>(Years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit possimus repellendus, recusandae voluptates ipsum et modi quibusdam qui quisquam earum praesentium nemo asperiores, consequatur magnam ipsam eaque omnis officiis! Ad!</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 2</h1>-<h3>(Years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit possimus repellendus, recusandae voluptates ipsum et modi quibusdam qui quisquam earum praesentium nemo asperiores, consequatur magnam ipsam eaque omnis officiis! Ad!</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 3</h1>-<h3>(Years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit possimus repellendus, recusandae voluptates ipsum et modi quibusdam qui quisquam earum praesentium nemo asperiores, consequatur magnam ipsam eaque omnis officiis! Ad!</p>
            </ul>
    </div>
