<div class="row">
        <div>
            <img src="../../.../../../assets/image/gears-gb2a0f58f8_1920.jpg" class="img-fluid" id="banner">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/image/3.jpg" class="img-fluid" id="foto">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <span>
                <h1>Marcelo Amarillo</h1>
                <p><strong>Full Stack Devolper Jr</strong></p>
            </span>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <app-acerca></app-acerca>
        </div>
    </div>

